NODE_ENV="development"

# Client Configs
BOT_ID=""
TOKEN=""

# Database Configs
DATABASE=""

# Images Configs
FAVICON=""
IMAGE_LINK=""

# Links
DISCORD_INVITE_LINK=""
FULL_PERMISSION_INVITE_LINK=""
ZERO_PERMISSION_INVITE_LINK=""
STANDARD_PERMISSION_INVITE_LINK=""

# Discord Configs
EMBED_COLOR=""
BUTTON_STYLE=""
EMBED_BOT_COMMANDS_FOOTER=""
EMBED_WEB_COMMANDS_FOOTER=""
EMBED_ERROR_COMMANDS_FOOTER=""
EMBED_SERVICE_COMMANDS_FOOTER=""
